# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# Environment vars
.env

# Firebase service account
firebase-service-account.json

# Test/Scratch Files
testfile.py

# macOS
.DS_Store

